
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  :root{
    --main-color: #00555a;
    --text-color: white;
  }
  
  header {
    background-color:var(--main-color);
   padding: 8px 85px 10px 55px ;
   

  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  .fan-text {
    font-size: 42px;
    color:var(--text-color);
    font-weight: bold;
}
.navbar img {
    width: 60px; 
    height: auto;
    animation: spin 2s linear infinite;
    
}
@keyframes spin {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
.search-bar{
    margin-left: auto;
    padding-left: 15px;
    width: 570px;
    height: 45px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
}
  .search-bar input[type="text"] {
    padding: 10px;
    width: 520px;
  border: none;
   outline: none;
    background-color: transparent;
    font-size: 16px;
  }
  .fa-solid{
    color: black;
    cursor: pointer;
  }

  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
    .search-bar {
      margin-top: 10px;
    }
  }
  @media (max-width: 480px) {
   .navbar{
    flex-direction: column;
   }
    .search-bar {
      margin-left: 10px; 
      width:350px ;
    }
  
    .search-bar input[type="text"] {
      font-size: 12px;
      width: 300px;
    }
  }




  .navbar2{
    padding-top: 5px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
justify-content: center;
   
   
  }
  
  .nav-links li {
    margin-right: 30px; 
  }
  
  .nav-links li a {
    color:var(--text-color);
    text-decoration: none;
    font-size: 18px;
    transition:  0.3s ease;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.47);
    
    padding: 10PX;
  }

  
  
  /* Media Queries for Tablet */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column; 
      align-items: center;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 480px) {
    .navbar2 {
      padding-top: 10px; 
    }
  
    .nav-links li {
      margin: 8px 0; 
    }
  }
  





.pic-contanier{
    position: relative;
   text-align: center;
   background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Pedestal-Fans-Category-Banner.jpg);
  height: 600px;
  }

.text-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}



.icon-row{
  padding: 60px 70px 80px;
  display: flex;
  justify-content: space-between;
}


.icon1{
  display: flex;
}
.icon1 img{
  width: 60px;
  height: auto;
}
.icon-text{
  font-size: 18px;
  color: #092337;
  padding: 10px;
}



 /* Media Queries for Mobile */
 @media (max-width: 480px) {
  .icon-row{
   flex-direction: column;
  }
}



.table-fan-intro{
  height: 250px;
  text-align: center;
  margin: 0 auto;
  opacity: 0; /* Initially hidden */
  transition: opacity 4s ease; 
}
.table-fan-intro.show {
  opacity: 1; /* Visible */
}
.table-fan-intro h1{
 color: var(--main-color);
  font-size: 62px;
  
} .table-fan-intro p{
  line-height: 2rem;
  padding-top: 10px;
  font-size: 20px;
}
@media screen and (max-width: 768px) {

  .table-fan-intro h1{
    font-size: 40px;
  }
  .table-fan-intro p{
    font-size: 18px;
  }
}



.row
{
  
   display: flex;
   justify-content: space-evenly;
padding: 50px 70px;
 background-color: rgb(220, 215, 215);
 margin: 0px 30px 0px 30px;
}
.row2
{
   display: flex;
   justify-content: space-evenly;
padding: 8px 70px;
background-color: rgb(220, 215, 215);
 margin: 0px 30px 0px 30px;
 
   

}
/* card section of seiling fan */
.main-container{
display: flex;
justify-content: space-evenly;
width: 100%;

margin-top: 30px;
margin-bottom: 30px;
}

.box{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}
.box img{
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.box .overlay{
  height: 0;
  width: 100%;
  background: linear-gradient(transparent,#00555a );
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.overlay h3{
  font-weight: 500;
  margin-bottom: 5px;
margin-top: 80%;
font-size: 30px;
letter-spacing:2px;
color: #fff;
}
.overlay p{
  font-size: 23px;
}
.overlay a{
  margin-top: 10px;
  color:#fff;
  text-decoration: none;
  font-size: 20px;
  background:black;
  
  
  text-align: center;
  padding: 5px 15px;
}
.overlay 
.box:hover img{
  transform: scale(1.2);
}
.box:hover .overlay{
  height: 100%;
}
@media (max-width: 767px) {
  .main-container {
    flex-direction: column; /* Stack boxes vertically */
    align-items: center; /* Center align boxes */
    margin-top: 70px;
  }

  .box {
    margin-bottom: 50px; /* Add spacing between boxes */
  }

  .overlay h3 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .overlay a {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Media Query for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    flex-wrap: wrap; /* Allow boxes to wrap */
  }
}

